{% extends 'base.html.twig' %}

{% block title %}All category
{% endblock %}


{% block body %}
	<h1>Toutes les catégories:
	</h1>
	{% for category in categories %}
		<div>
			<h2>{{ category.name }}</h2>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la catégory</a>
		</div>
	{% else %}
		Aucune catégories trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
